.card {
    width: 20rem;
    height: 24rem;
    float: left;
    margin-left: 3rem;
    .tag {
        float: left;
    }
}

.video {
    width: 20rem;
    height: 24rem;
    float: left;
    margin-left: 3rem;
    .tag {
        float: left;
    }
}

.podcast {
    width: 20rem;
    height: 28rem;
    float: left;
    margin-left: 3rem;
}